body{
	background-color:#cdcdcd;
}

input, select, textarea{
	border-radius: 3px;
}

.mainContentDiv{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.loginFormWrapper{
	max-width: 300px;
	margin: 40px auto;
}
.message{
	text-align: center;
	font-size: 16px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	background-color: #cae8ca;
	border: 2px solid #4CAF50;
	max-width: 600px;
	margin: auto;
}
.error{
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: red;
}

.pointer{
	cursor: pointer;
}
.icon-bar{
	background-color: white;
}

.documentNumber{
	width: 55px;
}
.inputHeight{
	height: 26px;
}
.szt{
	width: 58px;
}
.fullWidth{
	width: 100%;
}
.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.margin-auto:{
	margin:auto;
}
.addingTab{
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	table-layout: fixed;
	margin-top : 20px;
}
.addingTable tr:forst-child td{
	margin-top: 10px;
}

.addingTab td{
	padding: 2px;
}

.addingTab td:first-child{
	max-width: 280px;
	min-width: 90px;
}
.addingTab td:second-child{
	min-width: 300px;
}
.positionTable{
	min-width:  325px;
}
.topPadding{
	padding-top: 20px;
}
.positionTable td{
	width: 90px;
}
.edgeBandComment{
	width: 240px;
}

.orderLink{
	cursor: pointer;
	opacity: 0.8;
}

.orderLink:hover{
	opacity: 1;
}
.modal{
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-content{
		background-color: #cdcdcd;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
}
.ebtable {
	margin-bottom: 2px;
	font-size: 15px;
}

.ebtable td:first-child{
	min-width: 74px;
}
.ebtable tr:first-child {
	
}
.ebtable{
}
.ebtable tbody > tr > th{
	font-size: 13px;
	border-top: none;
	padding: 1.5px;
	border-bottom: 2px solid black;
}
.cutFormTable{
	font-size: 15px;
	border-collapse:separate;
	border-spacing:0 5px; 
}

.boardTitle{
	margin: 2px auto;
	font-size: 20px;
	padding: 10px;
}

.edgeBandingModalTable{
	margin-bottom: 5px;
}

#sms{
	cursor: pointer;
	font-size: 16px;
	text-align: center;
}
