body{
	background-color:#cdcdcd;
}
.error{
	width: 100%;
	text-align: center;
}
.icon-bar{
	background-color: white;
}

.documentNumber{
	width: 55px;
}
.inputHeight{
	height: 25px;
}
.fullWidth{
	width: 100%;
}